$base: blue;
$important: darkblue;
$warning: cyan;
$fontPrin: "Source Code Pro", Courier, mono;
$fontSec: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$fontSizeSec: 8px;
$shadow: 8px 8px 5px -1px rgb(77, 70, 70);