$base: red;
$important: darkred;
$warning: pink;
$fontPrin: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$fontSec: "Source Code Pro", Courier, mono;
$fontSizeSec: 10px;
$shadow: -8px 8px 5px -1px rgb(77, 70, 70);
